<?xml version="1.0"?>
<model>
  <name>forest_additions_backup</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Gazebo Community</name>
    <email>gazebo@osrfoundation.org</email>
  </author>

  <description>
    Forest additions collection - backup version containing various forest elements like trees, bushes and terrain.
  </description>
</model>